<section class="welcome" id="welcome">
    <div class="welcome-content">
        <div class="column right">
            <div class="text">
                TRUSTED RELOCATION SERVICE
            </div>
                <p>Standard Rates | Quick Estimation</p>
                <a class="login" href="/getqoute"><button>Get Quote</button></a>                             
        </div>
        <div class="column left">
            <img src="https://drive.google.com/uc?export=view&id=1HkY-x1Rwv9zKNVyHTb7lYmNACbAlsL-_" alt="Loading">
        </div>
    </div>
</section>
<section class="welcome" id="welcome">
    <div class="welcome-content1">
        <div class="column left" >
            <img src="https://drive.google.com/uc?export=view&id=13qOlfnHDzkABMtZs-jTfFqLlb9TWVpQx" alt="Loading" style="width: 80%;">
        </div>
        
        <div class="column right">
            <div style="margin-left: -10%; " class="sample">
                <div class="text" style="color:#1597E5;">
                    Why To Choose
                </div>
                <div style="padding-top: 10px;" class="text1">
                    We are focused to provide genuine service at standard rates.
                </div>
            </div>
            <div class="content2" style=" padding-top: 60px; margin-left: -20%;font-size:18px">
                <div class="column left">
                    <img style="height: 50px; width: auto;" src="https://drive.google.com/uc?export=view&id=1HFQlo-p8DUEk_07MFcLLcWx6c6Z-uouO" alt="Loading">
                    <br>
                    <br>
                    <p>Top Packers & Movers</p>
                </div>
                <div class="column middle">
                    <img style="height: 50px; width: auto;" src="https://drive.google.com/uc?export=view&id=17BVyWnmrFNgHx1qDGVyMGk3foa8CSKDr" alt="Loading">
                    <br>
                    <br>
                    <p>Have Best Deals</p>
                </div>
                <div class="column right">
                    <img style="height: 50px; width: auto;" src="https://drive.google.com/uc?export=view&id=1vlfZvKrmJnFIx2wKoTGNt4c0Yvm_VVbO" alt="Loading">
                    <br>
                    <br>
                    <p>Get Detailed Quote</p>
                </div>
            </div>
        </div>
    </div>
</section>