<head>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="icon" href="https://drive.google.com/uc?export=view&id=1OhVfEbp3PY7aS8H8QwRbJYqLDB-1OzMv" />
</head>
<footer class="footer-distributed">
    <hr>

			<div class="footer-left">

				<h3>MoveOn<span><img class="logo" src="https://drive.google.com/uc?export=view&id=1OhVfEbp3PY7aS8H8QwRbJYqLDB-1OzMv" alt="LOGO"></span></h3>

				<p class="footer-links">
					<a href=" "class="link-1">Home</a>
					<a href="/ourservice">Our Services</a>
					<a href="/getqoute">Get Quote</a>
					<a href="/previousenquiry">Previous Enquiry</a>
				</p>

				<p class="footer-company-name">MoveON © 2021</p>
			</div>

			<div class="footer-center">
				<span style=" display: block;
				color: #1597E5;
				font-size: 18px;
				margin-left: 10px;
				font-weight: bold;
				margin-bottom: 20px;">Reach Us</span>

				<div>
					<i class="fas fa-location-arrow"></i>
				
					<p><a href="https://goo.gl/maps/5cFEJrUpD3JwCSie6"><span>12, 2nd St, Ambattur Industrial Estate,</span> Chennai, Tamil Nadu</a></p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p><a href="https://www.skype.com/en/features/skype-web/">456123789</a></p>
				</div>

				<div>
                    <i class="fa fa-envelope-open"></i>
					<p><a href="https://outlook.office.com/mail/inbox">support@moveon.in</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About Us</span>
					Our advice encompasses the necessary formalities and procedures, but extends to first-hand guidance that will enable you to capture the magic of exploring a new location.Our comprehensive services support relocating individuals, families and employees all over the world.
				</p>


			</div>

		</footer>

		