<section class="welcome" id="welcome" style="margin-bottom: 40px;">
    <div class="welcome-content1">
        <div class="column left" >
            <div style="margin-left: 10%; " class="sample">
                <div class="text" style="color:#1597E5;">
                    We Serve
                </div>
                <div style="padding-top: 10px; font-size: 18px;" class="text1" >
                    We offer these services whith professional employees
                </div>
            </div>
            <div class="content2" style=" padding-top: 60px; font-size:16px;">
                <div class="column left">
                    <img style="height: 100px; width: auto;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4V3_85G_A89c2OLot11XLQ7G2JB9BHR2Zca_SaB3CmWy_Wzxe167dGmhza5YmD_w-wfo&usqp=CAU" alt="Loading">
                    <br>
                    <br>
                    <p>Economical Home Relocation</p>
                </div>
                <div class="column middle">
                    <img style="height: 100px; width: auto;" src="https://drive.google.com/uc?export=view&id=1SRgcxK19cEdv24ILaX4kk57kBu-KKU56" alt="Loading">
                    <br>
                    <br>
                    <p>Dependable Vechicle Transport</p>
                </div>
                <div class="column right">
                    <img style="height: 100px; width: auto;" src="https://drive.google.com/uc?export=view&id=1MGEhEVElHgSjoyiXXpaYRov5UcBIs_S3" alt="Loading">
                    <br>
                    <br>
                    <p>Professinal Office Moving</p>
                </div>
            </div>
        
        </div>
        
        <div class="column right">
            <img src="https://drive.google.com/uc?export=view&id=1sdZyHd2j8SkVe6swcai57TnljvSnPYm1" alt="Loading" style="width: 90%;">

        </div>
    </div>
</section>
<section class="welcome" id="welcome">
    <div class="welcome-content1">
        <div class="column left" >
            <img src="https://drive.google.com/uc?export=view&id=17spXrO5QjwaJG6itCp40T6WwlSp9edV5" alt="Loading" style="width: 80%;">
        </div>
        
        <div class="column right">
            <div style="margin-left: -10%; " class="sample">
                <div class="text" style="color:#1597E5;">
                    We Shift
                </div>
                <div style="padding-top: 10px;" class="text1">
                    Relocate anywhere in India or outside India and get best deals on every move
                </div>
            </div>
            <div class="content2" style=" padding-top: 60px; margin-left: -20%;font-size:18px">
                <div class="column left">
                    <img style="height: 100px; width: auto;" src="https://png.pngtree.com/png-vector/20190115/ourlarge/pngtree-vector-truck-icon-png-image_319755.jpg" alt="Loading">
                    <br>
                    <br>
                    <p>Locally Within City</p>
                </div>
                <div class="column middle">
                    <img style="height: 100px; width: auto;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCnC0sL7CVL2Y04YkhxHgdEbYiChPn0rREspwyQ7ccTh-ULZenYTvBq7V1oiiL0fjAt_I&usqp=CAU" alt="Loading">
                    <br>
                    <br>
                    <p>Domesttic Outside City</p>
                </div>
                <div class="column right">
                    <img style="height: 100px; width: auto;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxtJo-ofJQYRy8QBVsdOyBz3hQpaZMVRKPqw&usqp=CAU" alt="Loading">
                    <br>
                    <br>
                    <p>International Outside Country</p>
                </div>
            </div>
        </div>
    </div>
</section>