<header>
    <img class="logo" src="https://drive.google.com/uc?export=view&id=1OhVfEbp3PY7aS8H8QwRbJYqLDB-1OzMv" alt="LOGO">
    <label class="name">MoveOn</label>
    <nav>
        <ul class="nav_links">
            <li><a href=" ">Home</a></li>
            <li><a href="/ourservice">Our Services</a></li>
            <li><a href="/getqoute">Get Quote</a></li>
            <li><a href="/previousenquiry">Previous Enquiry</a></li>
        </ul>
    </nav>
    <a class="login" href="#"><button>Login</button></a>
</header>
<hr>